Source: ros-hydro-sr-communications
Section: misc
Priority: extra
Maintainer: Raul Perula-Martinez <raul.perula@uc3m.es>
Build-Depends: debhelper (>= 9.0.0), google-mock, libgtest-dev, ros-hydro-catkin, ros-hydro-roscpp
Homepage: http://wiki.ros.org/sr_communications
Standards-Version: 3.9.2

Package: ros-hydro-sr-communications
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-roscpp
Description: communications for the Social Robots robots
